.heading {
  text-align: center;
  font-size: 33px;
  margin-top: 50px;
  font-family: "Segoe UI";
}
.listening {
  text-align: left;
  width: 500px;
  height: 400px;
}
.banner {
  text-align: center;
}
#table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
}
.images {
  margin-left: 20px;
  overflow: hidden;
}
.images img {
  transition: transform 0.5s ease;
}
.images:hover img {
  transform: scale(1.1);
}
.images:hover h3 {
  color: darkcyan;
  text-decoration: underline;
}
table {
  margin-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
}
.pics {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 90px;
  border-radius: 50px;
  width: 400px;
  height: 500px;
  /* transition: transform 0.5s ease; */
}
.description {
  font-family: consolas;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  color: darkred;
}
h3 {
  text-align: center;
}
#main-table {
  align-items: center;
}

a {
  font-family: "Segoe UI";
  color: darkred;
  font-size: 20px;
}

p {
  padding-top: 10px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  color: darkblue;
  text-align: center;
}
